<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->
<!-- <ngx-spinner bdColor = "rgba(170,170,170,0.5)" size = "large" color = "#aaaabbb" type = "ball-square-spin" [fullScreen] = "true"><p style="color: white" > Processing </p></ngx-spinner> -->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://i.kym-cdn.com/photos/images/newsfeed/001/877/794/e3a.gif' />"
>
</ngx-spinner>

<!-- bradcam_area_start -->
  <div class="bradcam_area breadcam_bg overlay2">
    <h3>Login</h3>
</div>
<!-- bradcam_area_end -->

<!-- about_area_start -->
<div class="about_area">
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 mx-auto">
            <form [formGroup]="loginform" (submit)="submit()">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" formControlName="password" required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="loginform.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
<!-- about_area_end -->
