<ngx-spinner bdColor="rgba(0, 0, 0, 1)"
    template="<img src='https://i.kym-cdn.com/photos/images/newsfeed/001/877/794/e3a.gif' />">
</ngx-spinner>

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Manage Customer</h3>
</div>
<!-- bradcam_area_end -->

<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 mx-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{singleuser?.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{singleuser?.email}}</h6>
                        <a href="#" class="card-link">{{singleuser?.createdAt}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->